@font-face {
    font-family: "Inter";
    src: url("@/assets/fonts/Inter-Regular.ttf") format("TrueType");
    font-weight: 400;
};

@font-face {
    font-family: "Inter";
    src: url("@/assets/fonts/Inter-Bold.ttf") format("TrueType");
    font-weight: 800;
};
