$color-primary: #1637bf;
$color-secondary: #00b869;

$color-gray-100: #cccccc;

$color-white: #f7f7f7;
$color-white-200: #FFFFFF;
$color-black: #3c3c3c;

$color-error: #bf1616;

$font-family: 'Inter';